@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<script>
    var client = new RestClient("https://airlabs.co/api/v9/fleets?airline_iata=AA&api_key=68b0d1b1-276f-4e18-b0d6-115b93136b0d");

var request = new RestRequest(Method.GET);

IRestResponse response = client.Execute(request);
</script>